@charset "utf-8";

/*sasas*/

.flexbox div {
    border: 1px #ccc solid;
    padding: 10px;
}

.flexbox {
    display: flex;
}

/*O que determian o tamanho é o folex, o order arrumar a ordem na oranização*/

.item-box-1 {
    flex: 2;
    order: 2;
}

.item-box-2 {
    flex: 1;
    order: 1;    
}

.item-box-3 {
    flex: 1;
    order: 3;
}