@charset "utf-8";

/*não se usa virgula no grid*/

.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    overflow-x: hidden;
}

.wrapper>article:nth-child(odd) {
    background: aquamarine  ;
    padding: 1em;
}

